.option {
    padding: 8px;
    float: left;
    border-radius: 30%;
    margin-right:1px;
    border: 1px solid yellowgreen;
}

.create-area {
    margin: 1%;
}
.img-100-100 {
    width: 100px;
    height: 100px;
}

.select {
    height: 30px;
    border-radius:10px;
    background-color: mintcream; 
}

.width-210 {
    width:210px;
}
.clr {
    clear: both;
}

.img-schedule {
    width: 8em;
    margin: auto 30%;
}
.timeline-schedule {
    margin-top: 5px;
    width: 350px;
    height: 30px;
    left: 0;
    top: 0; 
    background-color: darkturquoise;
    position: relative;
    border-radius: 5px;
}
